<div class="container display">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/41CF/production/_109474861_angrycat-index-getty3-3.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Pussy cat doll</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text lead">180$</p>
        <a href="#" class="btn btn-outline-primary">Go order</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdnuploads.aa.com.tr/uploads/Contents/2019/10/24/thumbs_b_c_fb8263ce4f9f43ebdc7634b0d1eb0a08.jpg?v=115427" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">White cat</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text lead">210$</p>
        <a href="#" class="btn btn-outline-primary">Go order</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Covid cat</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text lead">300$</p>
        <a href="#" class="btn btn-outline-primary">Go order</a>
    </div>
    </div>
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://media.wired.com/photos/5cdefb92b86e041493d389df/191:100/w_1500,h_785,c_limit/Culture-Grumpy-Cat-487386121.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Angry cat</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text lead">490$</p>
        <a href="#" class="btn btn-outline-primary">Go order</a>
    </div>
    </div>
    
</div>


