<%= form_with(model: line_order) do |form| %>
  <% if line_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line_order.errors.count, "error") %> prohibited this line_order from being saved:</h2>

      <ul>
        <% line_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
