<header class="test d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
<a class=" h5 my-0 me-md-auto fw-normal" href="<%= root_path %>">Kittens</a>
<nav class="my-2 my-md-0 me-md-3">
  <a class="p-2 text-dark" href="<%= pages_show_path %>">Product</a>
</nav>

<% if user_signed_in? %>
<a class="btn btn-outline-danger" <%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
<% else %>
<a class="btn btn-outline-primary" <%= link_to 'Login', new_user_session_path %></a>
<% end %>
</header>




